# =============================================
# SMART ROAD - Frontend Environment Variables
# =============================================

VITE_API_URL=https://smart-road-damage-system.onrender.com
VITE_SUPABASE_URL=https://mwsvvqgkhgctnfdrvmzl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im13c3Z2cWdraGdjdG5mZHJ2bXpsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3MTkyNDYsImV4cCI6MjA4OTI5NTI0Nn0.1IiaUnlFDXPWpkIno29rToAhl-B7gJN7VEDkYvWhySE
VITE_SUPABASE_STORAGE_BUCKET=road-damage-images
